body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  background-image: url("OIG2.gVgyrY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(255, 123, 0);
  margin-top: 50px;
}
nav a {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: rgb(255, 123, 0);
  text-decoration: none;
  font-size: 1.2em;
}
nav a:hover {
  text-decoration: underline;
}
.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
}
.product-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  width: calc(45% - 40px);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.product-card img {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.product-card h2 {
  background-color: rgb(145, 84, 27);
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}
.product-card p {
  padding: 10px;
  text-align: justify;
  color: white;
}
.product-card .manual {
  background-color: rgb(255, 123, 0);
  padding: 10px;
  text-align: center;
}
.product-card .manual a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.product-card .manual a:hover {
  text-decoration: underline;
}
footer {
  background-color: rgba(0, 0, 0, 0.863);
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  margin-top: 50px;
}
footer a {
  color: rgb(255, 123, 0);
  text-decoration: none;
}
footer button {
  background-color: rgb(255, 123, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
footer button:hover {
  background-color: rgb(200, 90, 0);
}
